@mixin diamond($size) {
  width: 0;
  height: 0;
  border: $size solid transparent;
  border-bottom-color: #505f68;
  position: relative;
  top: -$size;
}
@mixin diamond-after($size) {
  content: "";
  position: absolute;
  left: -$size;
  top: $size;
  width: 0;
  height: 0;
  border: $size solid transparent;
  border-top-color: #505f68;
}

.diamond {
  @include diamond(1.2rem);
}

.diamond:after {
  @include diamond-after(1.2rem);
}

.small-diamond {
  @include diamond(0.9rem);
}

.small-diamond:after {
  @include diamond-after(0.9rem);
}

.success {
  border-bottom-color: #1ceff9;
}

.success:after {
  border-top-color: #1ceff9;
}

.fail {
  border-bottom-color: #d66765;
}

.fail:after {
  border-top-color: #d66765;
}
