.diamond {
  width: 0;
  height: 0;
  border: 1.2rem solid transparent;
  border-bottom-color: #505f68;
  position: relative;
  top: -1.2rem;
}
.diamond:after {
  content: "";
  position: absolute;
  left: -1.2rem;
  top: 1.2rem;
  width: 0;
  height: 0;
  border: 1.2rem solid transparent;
  border-top-color: #505f68;
}

.success.diamond{
  border-bottom-color: #1ceff9;
}

.success.diamond:after{
  border-top-color: #1ceff9;
}

.fail.diamond{
  border-bottom-color: #d66765;
}

.fail.diamond:after{
  border-top-color: #d66765;
}